* {
    margin: 0;
    padding: 0;
}

body {
    background: #BDC3C7;
    font-family: Arial;
}

h1, h1, {    
    color: #DC3522
}

h2, h2{
    color: #009688
}

h1,h1{
    color:#33691E
}

#biografia {
    background: #b9d828
}

#carrera {
    background: #abc824
}

#premios {
    background: #9db721
}

#vida_personal {
    background: #8ea71e
}